{% extends 'base.html' %}

{% load static %}

{% block title %}
MagicFrame-About Us
{% endblock %}


{% block body %}

<section id="section1">
    <div class="container">
        {% include 'navbar.html' %}
        <div class="row">
            <div class="col-md-12 mt-5 mb-5">
                <h3 class="text-center" style="color: rgb(0, 0, 0);"><strong>About Us</strong></h3>
                <p class="text-center mt-3 mb-5">MagicFrame Photography & Videography. We love what we do and we do it with love...</p>
            </div>
        </div>
    </div>
</section>

<section id="section2">
    <div class="container">
        <div class="row">
            
            <div class="col-md-12 mt-5">
                <p style="text-align: justify;">There's no denying that planning the ideal wedding takes a lot of time and effort and we aim to capture every efforts. 
                    Most weddings involve several rituals such as sangeet night, save the date, haldi or mehndi, engagement, wedding,
                    post wedding, reception so and so on. Our services include budget friendly wedding photography pacakge to cover 
                    these occasions as well. Every narrative is unique; tell us more about your big day.
                    <strong>Wedding Photography Kerala by MagicFrame Studio</strong> specialize in candid wedding photography, traditional wedding photoshoot
                    , post-wedding shoot, destination wedding, save the date shoot, Apart from these, 
                    we do birthday photography, helicam shoot, baptism or christening ceremony ,thanks cards & Wedding Live Streaming Kerala.
                </p>
            </div>
           
        </div>

        <div class="row mt-5 mb-5">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">

                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                      <div class="card card1 h-100  p-3 mb-5  rounded">
                        <div class="card-body">
                          <h1 style="color:rgb(0, 0, 0)"><i class="fa fa-bullseye"></i></h1>
                          <h5 class="card-title" style="color: rgb(0, 0, 0);">OUR GOAL</h5>
                          <p class="text-dark-emphasis">Memorable and Valuable Photos and Video.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                        <div class="card card1 h-100  p-3 mb-5  rounded">
                          <div class="card-body">
                            <h1 style="color:rgb(0, 0, 0)"><i class="fa fa-heart"></i></h1>
                            <h5 class="card-title" style="color: rgb(0, 0, 0)">CLIENT RELATIONS</h5>
                            <p class="text-dark-emphasis">We prefer long-lasting friendship</p>
                          </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card1 h-100 p-3 mb-5  rounded">
                          <div class="card-body">
                            <h1 style="color:rgb(0, 0, 0)"><i class="fa fa-camera"></i></h1>
                            <h5 class="card-title" style="color: rgb(0, 0, 0);">OUR PROJECTS</h5>
                            <p class="text-dark-emphasis">The count goes on and so the style andwh passion</p>
                          </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card1 h-100 p-3 mb-5  rounded">
                          <div class="card-body">
                            <h1 style="color:rgb(0, 0, 0)"><i class="fa fa-eye"></i></h1>
                            <h5 class="card-title" style="color: rgb(0, 0, 0)">OUR VISION</h5>
                            <p class="text-dark-emphasis">Share Artistic Vision</p>
                          </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card1 h-100  p-3 mb-5  rounded">
                          <div class="card-body">
                            <h1 style="color:rgb(0, 0, 0)"><i class="fas fa-people-group"></i></h1>
                            <h5 class="card-title" style="color: rgb(0, 0, 0)">TEAM COORDINATION</h5>
                            <p class="text-dark-emphasis">Talented Photographers with hard work and determination</p>
                          </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card card1 h-100  p-3 mb-5  rounded">
                          <div class="card-body">
                            <h1 style="color:rgb(0, 0, 0)"><i class="fa fa-money-bill-1-wave "></i></h1>
                            <h5 class="card-title" style="color: rgb(0, 0, 0)">PACKAGES & PRICING</h5>
                            <p class="text-dark-emphasis">Fair and affordable prices only</p>
                          </div>
                        </div>
                    </div>
                    
      
                </div>
                
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</section>

<section id="section3">
    <div class="container">
        <div class="row">
           
            <div class="col-md-6 mt-5 mb-5">
                <h3 class="mt-5"><strong>WHAT WE DO FOR YOU</strong></h3>
                <p class="mt-4" style="text-align: justify;">We Kerala wedding photography make sure your couple’s pictures are the most elegant way to capture the 
                    connection between you two in all magnificence. 
                    Our open approach to artistic pre-marriage photography shows the genuine ‘you’ as we simply hang together. 
                    Our professional photographers are experts in capturing the greatest pictures of you two, 
                    resulting in a picture-perfect moment that is captured on camera. Working with us is even more convenient and 
                    stress-free since we have a “no-fuss” policy. Once you’ve decided to hire us, you may simply ask for any sort of 
                    help you need for your session so that the day of the shoot is spontaneous and doesn’t seem like a chore.

                    Capturing a real moment without the person posing for it is an art that is difficult to master. 
                    It is about capturing the spirit of a moment rather than simply the event itself. 
                    Also, moments are ephemeral and vanish in the blink of an eye. Candid Photography is not everyone’s cup of tea, 
                    but the team at MagicFrame Studio  Photography Kerala is an absolute expert. The candid style of photography is 
                    gaining popularity among the general public, and they want to include it in their own portfolios, event photos, 
                    weddings, and virtually every other significant life event. If you’re searching for best candid Kerala wedding 
                    photography services, MagicFrame Photography should be your first destination.
                </p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5 mt-lg-5 mt-2 mb-3">
                <!-- <img src="{% static 'images/car4.jpg' %}" alt="" class="img-fluid rounded-5 img1 border-5 mt-5"> -->
            </div>
           
            
        </div>
    </div>

</section>

<section id="section4">
    <div class="container">
        <div class="row mt-5 mb-5">
            
            <div class="col-md-6">
                <h3 class="mt-lg-5"><strong>Creative & Elegant</strong></h3>
                <p class="mt-3" style="text-align: justify;">Tell your own unique love story through an exquisite collection of breathtakingly beautiful moving and still images. 
                    Perfectly capture the ambiance, atmosphere and beauty of your special day thanks to our talented and professional 
                    photographers. At MagicFrame studio, we provide the best Kerala wedding photography services. 
                    We create cherished memories with strikingly artistic shots and stunning angles.

                    We offer the best range of Kerala wedding photography and videography services. 
                    Our work has a classic beauty that can only be captured with traditional film techniques. 
                    Combined with modern digital technologies, our photographs and videos have a unique and timeless quality. 
                    We provide clients with a gorgeous visual retelling that perfectly reflects the romance and raw emotions of their 
                    big day.
                </p>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5 mt-lg-5">
                <div class="progress mt-lg-5" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar  progress-bar-animated bg-dark" style="width: 100%">100%</div>
                    
                </div>
                <p>WEDDING PHOTOGRAPHY</p>
                <div class="progress mt-3" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar  progress-bar-animated bg-dark" style="width: 100%">100%</div>
                    
                </div>
                <p>WEDDING VIDEOGRAPHY</p>
                <div class="progress mt-3" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar  progress-bar-animated bg-dark" style="width: 100%">100%</div>
                    
                </div>
                <p>WEDDING ALBUMS</p>
                <div class="progress mt-3" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar  progress-bar-animated bg-dark" style="width: 100%">100%</div>
                    
                </div>
                <p>WEDDING HIGHLIGHTS</p>

            </div>

            
        </div>
    </div>
</section>

<section id="footer">
    {% include 'footer.html' %}
  
</section>


<style>
    section#section1{
        
        background-color: rgb(240, 240, 240);
        
    }
    section#section3{
        width: 100%;
        background: url("{% static 'images/abtbg4.jpg' %}");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        color: #000000;
        
    } 
    section#footer{
        background-color: #000000;
    }
</style>
<style>
    .card1 {
        background-color: rgb(245, 245, 245);
        color: rgb(0, 0, 0);
        transition: box-shadow 0.3s ease-in-out;
        
    }

    .card1:hover {
        transform: scale3d(1.02,1.02,1.02);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    
    }
</style>


{% endblock %}