<div class="container-fluid">
    <div class="row">
      <div class="col-lg-1"></div>
      <div class="col-lg-10 mb-4">

          <div class="row mt-5">
              <div class="col-lg-3">
                  <a class="navbar-brand text-white" href="#" style="font-size: x-large;">MagicFrames</a>
                  <p class="mt-3" style="text-align: justify;color: #dfdede; ">
                      1st Floor - Thapasya Building <br>
                      Kakkanad, Cochin <br>
                      Phone: +91 974 663 2202 <br>
                      Email: Info@Altostechnologies.In <br>
                      
                  
                  </p>
                  <p class="mb-5 text-white"><i class="fab fa-instagram"></i> <i class="fab fa-facebook"></i> <i class="fab fa-telegram"></i> <i class="fab fa-twitter"></i></p>
                  
              </div>
              <div class="col-lg-3">
                  <h4 class="text-white">Quick Links</h4>
                  <div class="footcontent">
                      <a href="/"><p class="mt-3">Home</p></a>
                      <a href=""><p class="mt-0 ">About</p></a>
                      <a href=""><p class="mt-0 ">Services</p></a>
                      <a href=""><p class="mt-0">Join Us</p></a>
                      <a href=""><p class="mt-0 mb-5">Contact</p></a>
                  </div>
              </div>
              <div class="col-lg-3">
                  <h4 class="text-white">Services</h4>
                  <div class="footcontent">
                      <a href=""><p class="mt-3">Photography</p></a>
                      <a href=""><p class="mt-0">Video Editing</p></a>
                      <a href=""><p class="mt-0 mb-5">Album Designing</p></a>
                  </div>
              
              </div>

              <div class="col-lg-3">
                  <h4 class="text-white">Location</h4>
                  <iframe class="mt-3" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.073986645211!2d76.35812367465071!3d10.010747472850435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080d9bfaa6db61%3A0xa5df6acfc2d1e5fd!2sALTOS%20Technologies!5e0!3m2!1sen!2sin!4v1695374106027!5m2!1sen!2sin" width="300" height="230" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              
              </div>
              
          
          </div>

        
        
      </div>
      <div class="col-lg-1"></div>
    </div>
    <div class="row">
        <div class="footer text-light text-center mt-1 mb-1 bg-dark" style="font-size: small;">All rights reserved <i class="fa fa-copyright"></i> MagicFrame Studio 2023</div>
    </div>
</div>


<style>
    div.footcontent a{
        text-decoration: none;
        color: #dfdede;
    }
</style>