{% extends 'base.html' %}
{% load static %}

{% block title %}
MagicFrame-Home
{% endblock %}

{% block body %}



<section id="section1" >

    <div class="container">
        {% include 'navbar.html' %}
        <div class="row">
            <div class="col-md-4 mt-5">
                <h4 class="mt-lg-2 mb-2" style="font-family: 'Nosifer', cursive;"><strong>C R E A T E </strong></h4>
                <h4 class="mt-3 mb-2 text-center " style="font-family: 'Nosifer', cursive;"><strong>E X P L O R E</strong></h4>
                <h4 class="mt-3 mb-2" style="font-family: 'Nosifer', cursive;text-align: end;"><strong>I N S P I R E . . .</strong></h4>
                <p class=" mt-lg-4 mt-4" style="font-family: 'Cairo Play', sans-serif; font-size: 19px;text-align: justify;"><strong>MagicFrame Studios</strong> create a beautiful collection of photographs that perfectly capture the <strong> magic</strong>, 
                    <strong>emotion</strong> and <strong>spirit</strong> of your day. <br> Your wedding day should be one of the most memorable days of your life. 
                    <strong>MagicFrame Studios</strong> want to make sure that this special day is one you'll remember for years to come.    
                </p>
                <div class="row">
                    <a href=""><button class="button1 mb-1 text-center"><span>Book Now</span></button></a>
                </div>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
        </div>
        
       
              
        
        
    </div>
   
</section>
<section id="section2">
    <div class="container">
        <div class="row">

            <div class="col-md-4"></div>
            <div class="col-md-4 mt-5">
                <h3 class="text-center" style="font-family: 'Roboto Slab', serif;">
                    MagicFrame Photography
                </h3>
            </div>
            <div class="col-md-4"></div>

        </div>

        <div class="row">
            
            <div class="col-md-12 mt-5 mb-3">
                <div class="row row-cols-1 row-cols-md-5 g-4">
                    <div class="col">
                      <div class="card h-100 card1 p-1 mb-2 bg-body-tertiary rounded">
                        <img src="{% static 'images/card8.jpg' %}" class="card-img-top img-fluid rounded-3" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Love is in the air, and it's all in the lens.</h5>
                          <p class="card-text"></p>
                          
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100 card1 p-1 mb-2 bg-body-tertiary rounded">
                        <img src="{% static 'images/card7.jpg' %}" class="card-img-top img-fluid rounded-3" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">A picture-perfect love story.</h5>
                          <p class="card-text"></p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100 card1 p-1 mb-2 bg-body-tertiary rounded">
                        <img src="{% static 'images/card10.jpg' %}" class="card-img-top img-fluid rounded-3" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Two hearts, one soul.</h5>
                          <p class="card-text"></p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card h-100 card1 p-1 mb-2 bg-body-tertiary rounded">
                        <img src="{% static 'images/card9.jpg' %}" class="card-img-top img-fluid rounded-3" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Capturing love, one frame at a time.</h5>
                          <p class="card-text"></p>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                        <div class="card h-100 card1 p-1 mb-2 bg-body-tertiary rounded">
                          <img src="{% static 'images/card12.jpg' %}" class="card-img-top img-fluid rounded-3" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Where love and lens meet together.</h5>
                            <p class="card-text"></p>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>

        <div class="row mt-lg-5 mb-lg-5 mt-3 mb-4">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <center><a href="{% url 'gallery' %}"><button class="button1 mb-1 text-center"><span>View more</span></button></a></center>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

</section>

<section id="section3">
    <div class="container">
        <div class="row ">
            <div class="col-md-2 mt-lg-5"></div>
            <div class="col-md-8 mt-lg-5 mt-4">
                <h3 class="text-center" style="font-family: 'Roboto Slab', serif;">Over years We are providing excellent services
                    to make your events memorable
                </h3>
            </div>
            <div class="col-md-2 mt-lg-5"></div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4">
                <ul class="arrow-list mb-5">
                    <li><h5>Qualified Photographers & Videographers</h5></li>
                    <li><h5>Distinctive Style</h5></li>
                    <li><h5>Equipment and Technology</h5></li>
                    <li><h5>Passion and Dedication</h5></li>
                    
                </ul>
            </div>
            <div class="col-md-4">
                
                <ul class="arrow-list mb-5">
                    <li><h5>All photographers are experts in their categories</h5></li>
                    <li><h5>Marketing and Branding</h5></li>
                    <li><h5>Continual Learning</h5></li>
                    <li><h5>Packages and Pricing</h5></li>
                    
                </ul>
    
            </div>
            <div class="col-md-4">
               
                <ul class="arrow-list mb-5">
                    <li><h5> Fast, on-time and Professional Service</h5></li>
                    <li><h5>Professional Editing</h5></li>
                    <li><h5>Team Coordination</h5></li>
                    <li><h5>Backup Equipment</h5></li>
                    <li><h5>Online Presence</h5></li>
                    
                </ul>
            </div>
        </div>

        <div class="row">
            
            <div class="col-md-12 mt-1 mb-5">
                <!-- <h6 class="text-center lh-base">Capturing moments is easy but aptly capturing the essence of the moment and 
                    the plethora of emotions it possesses is what sets <br> <strong>MagicFrame studio 
                    Photography & Films</strong> apart
                </h6> -->
                <p class="lh-base mt-2 " style="text-align: justify;">We are seekers of the true essence of marvelous wedding celebrations. 
                    While we believe that bringing the essence of every emotional moment and whimsically 
                    romantic moment that you will treasure forever is our top priority. 
                    Our goal is to capture your most pleasant and heartfelt moments throughout your wedding. 
                    We are unafraid to go the additional mile when it comes to customer fulfillment, providing 
                    customized and distinctive services that preserve each of your treasured memories forever. 
                    MagicFrame Studio, Wedding Photography Kerala with the finest Wedding Photographers, 
                    you can rely on us to provide highquality wedding photography; candid wedding photography;
                    we like capturing beautiful details that will last a lifetime.
                    Reach out to us with your ideas for your big day, and we’ll work with you to create a 
                    lasting memory of the day of your dreams. We are a dedicated group of best photographers 
                    in Kerala and candid cinematographers that like capturing and preserving the most beautiful sentiments.
                </p>

            </div>
            
        </div>
    </div>
</section>

<section id="section4">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mt-5">
                <h3 class="text-center">Wedding Highlights in Kerala</h3>
                <p class="mt-5 " style="text-align: justify;">Our wedding films are a visual delight. 
                    It transports you back to the time of the celebrations and brings back all those emotions vividly. 
                    These are high production movie like films, beautifully summarizing all your rituals and festivities.
                    Whether it be the exotic pre wedding couple shoot, or an event from wedding days, 
                    our documentary stylewe candid Videography will certainly leave an impression.
                </p>
                
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-6 mt-lg-5 mt-2 mb-3">
                <img src="{% static 'images/wed1.webp' %}" alt="" class="img-fluid rounded-5 img1 border-5">
            </div>
           
        </div>
        <div class="row">
            <a href=""><button class="button2 mb-4 mt-3 mb-lg-5"><span>Book Now</span></button></a>
        </div>
    </div>

</section>

<section id="section5">
    <div class="container">
        <div class="row mt-3 mb-1 mb-lg-3">
            
            <div class="col-lg-12">
                <div class="row mt-3 mt-lg-5">
                    <div class="col-lg-4">
                        <h3 class="">Loved & Trusted  by many...</h3>
                        <p class=" mt-3" style="text-align: justify;">
                            A wedding is a day, a marriage is a lifetime, and the memories of both are captured through the art of photography.
                            Wedding Photography Kerala by Crystalline Studio is has the Kerala's top wedding and pre-wedding photographers. 
                            Weddings are about cherishing the most important moments, customs and rituals, and establishing new bonds. 
                            Our goal is to create the most incredible experiences that you will remember for the rest of your life. 
                            Our specialization is candid wedding photography, pre wedding photography, wedding videography, and post wedding shoot. 
                            We go beyond our limits to get the best angle shots. We believe it is the art beyond the technicalities. 
                            <strong>MagicFrame studio</strong> owns the Best Wedding Photography In Kerala with best photographers in India.
                        </p>
                        
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-7">
                        <div class="container shadow bg-body-tertiary" style="background-color: rgb(255, 255, 255); border-radius: 10px;border: 1px solid rgb(0, 0, 0); color: rgb(0, 0, 0);">
                            <div id="carouselExampleInterval" class="carousel slide carousel-dark p3 mb-3 mt-3" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                  <div class="carousel-item active" data-bs-interval="4000" >
                                    <div class="row mt-2">
                                        <div class="col-lg-5"> 
                                            <div class="profile">
                                                <img src="{% static 'images/card1.jpg' %}" class="img-fluid w-100 h-75 rounded-5 mt-3" alt="...">
                                                <h3 class="mt-2 text-center">Anand & Pooja</h3>
                                                
                                            </div>
                                        </div>
                                        <div class="col-lg-7">
                                            <div class="bio">
                                                <i class="fa fa-quote-left mt-3"></i>
                                                <p style="text-align: justify;">
                                                    We can't express how grateful we are to MagicFrame and their team for capturing our special day so beautifully. 
                                                    From our first meeting to the final delivery of photos, 
                                                    their professionalism and attention to detail were exceptional. 
                                                    Our wedding photos are not just pictures; they are cherished memories that will last a lifetime. 
                                                    
                                                </p><i class="fa fa-quote-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                                  <div class="carousel-item" data-bs-interval="4000">
                                    <div class="row mt-2">
                                        <div class="col-lg-5">
                                            <div class="profile">
                                                <img src="{% static 'images/card6.jpg' %}" class="img-fluid w-100 h-75 rounded-5 mt-3" alt="...">
                                                <h3 class="mt-2 text-center">Sajin & Lipsa </h3>
                                                
                                            </div>
                                        </div>
                                        <div class="col-lg-7">
                                            <div class="bio">
                                                <i class="fa fa-quote-left mt-3"></i>
                                                <p style="text-align: justify;">
                                                    Planning a destination wedding can be stressful, but MagicFrame made it all worth it. 
                                                    They captured the essence of our destination and our love beautifully. 
                                                    The photos are not just memories; they transport us back to that magical place every time we look at them. 
                                                    Thank you for making our dream wedding a reality.
                                                </p><i class="fa fa-quote-right"></i>
                                            </div>
                                        </div>
                                    </div>

                                  </div>
                                  <div class="carousel-item" data-bs-interval="4000">
                                    <div class="row mt-2">
                                        <div class="col-lg-5">
                                            <div class="profile">
                                                <img src="{% static 'images/card3.jpg' %}" class="img-fluid w-100 h-75 rounded-5 mt-3" alt="...">
                                                <h3 class="mt-2 text-center">Libin & Kezia</h3>
                                                
                                            </div>
                                        </div>
                                        <div class="col-lg-7">
                                            <div class="bio">
                                                <i class="fa fa-quote-left mt-3"></i>
                                                <p style="text-align: justify;">
                                                    MagicFrame has captured countless weddings at our venue, and every time, 
                                                    they manage to find unique angles and moments that showcase our location's beauty. 
                                                    Their photos have become a valuable asset for our marketing materials, 
                                                    and we're always thrilled to host events they photograph.
                                                </p><i class="fa fa-quote-right"></i>
                                            </div>
                                        </div>
                                    </div>

                                  </div>
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5 mt-lg-3">
                    <a href=""><button class="button1 mb-5"><span>Book Now</span></button></a>
                </div>
                
            </div>
            
        </div>
    </div>
</section>


<section id="footer">
    {% include 'footer.html' %}
  
</section>



<style>
    body{
        font-family: 'Roboto Slab', serif;
    }
    section#section1{
        background-image: url("{% static 'images/bg2.webp' %}");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        
    }
    section#section2{
        background-color: #ffffff;
        
        
    }
    section#section3{
        background-color: #f1f1f1;
        
        
    }
    section#section4{
        width: 100%;
        background: url("{% static 'images/sec4bg.jpg' %}");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        color: #ffffff;
    } 
    section#footer{
        background-color: #000000;
    }

</style>
<style>
    .button1 {
      border-radius: 6px;
      background-color: rgb(0, 0, 0);
      border: none;
      color: #ffffff;
      text-align: center;
      font-size: 16px;
      padding: 5px;
      width: 150px;
      transition: all 0.5s;
      cursor: pointer;
      margin: 5px;
    }
    
    .button1 span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }
    
    .button1 span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }
    
    .button1:hover span {
      padding-right: 20px;
    }
    
    .button1:hover span:after {
      opacity: 1;
      right: 0;
    }
    
    
</style>
<style>
    .button2 {
      border-radius: 6px;
      background-color: rgb(255, 255, 255);
      border: none;
      color: #000000;
      text-align: center;
      font-size: 16px;
      padding: 5px;
      width: 150px;
      transition: all 0.5s;
      cursor: pointer;
      margin: 5px;
    }
    
    .button2 span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }
    
    .button2 span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }
    
    .button2:hover span {
      padding-right: 20px;
    }
    
    .button2:hover span:after {
      opacity: 1;
      right: 0;
    }
    
</style>


<style>
    ul.arrow-list {
      list-style: none;
      padding-left: 20px; /* Adjust as needed */
    }
  
    ul.arrow-list li {
      background-image: url("{% static 'images/arrow.png' %}"); /* Replace with your image path */
      background-repeat: no-repeat;
      padding-left: 20px; /* Adjust as needed */
      margin-bottom: 5px; /* Adjust as needed */
    }
    .img1 {
        background-color: rgb(20, 20, 20);
        color: white;
        transition: box-shadow 0.3s ease-in-out;
        
    }

    .img1:hover {
        transform: scale3d(1.02,1.02,1.02);
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
    
    }
    .card1 {
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        transition: box-shadow 0.3s ease-in-out;
        
    }

    .card1:hover {
        transform: scale3d(1.02,1.02,1.02);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    
    }
  </style>

{% endblock %}