{% extends 'base.html' %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block body %}

{% include 'navbar.html' %}

<section id="section1" >

    <div class="container">
        <div class="row">
            <div class="col-md-4 mt-5 ms-5">
                <h5>Welcome</h5>
                <h5 class="ms-3">To </h5>
                <h2>MagicFrame Studios</h2>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
        </div>
        
       
              
        
        
    </div>
   
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                
            </div>
        </div>
    </div>
</section>



<style>
    section#section1{
        background-image: url("{% static 'images/bg2.webp' %}");
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        font-family: 'Poppins', sans-serif;

    }
</style>
{% endblock %}