{% extends 'base.html' %}

{% load static %}

{% block title %}
MagicFrame-Join Us
{% endblock %}


{% block body %}

<section id="section1">
    <div class="container">
        {% include 'navbar.html' %}
        <div class="row">
            <div class="col-md-12 mt-5 mb-5">
                <h3 class="text-center" style="color: rgb(0, 0, 0);"><strong>Join Our Team</strong></h3>
                <p class="text-center mt-3 mb-5">We always welcome creative and talented members to join our team... </p>
            </div>
        </div>
    </div>
</section>

<section id="section2">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-5">
                <p class="lh-lg" style="text-align: justify;">Best Wedding Photography In Kerala by MagicFrame Studio offers huge oppurtunity for skilled photographers 
                    and designers world wide. An immense amount of time, care and detail go into the album design. 
                    The goal of the album design process is to combine our creative vision of your wedding day with your ideas in a 
                    collaborative effort to create a beautiful memory. Same with Wedding Videos, the wedding video editors should be 
                    really creative enough to make their dream come true. Are you interested in wedding album designing ? 
                    Best Wedding Photography In Kerala by MagicFrame, our wedding photography is an iconic form of art. 
                    Again, do you wish to edit weddings like movies ? If you have the passion towards wedding album making and wedding video
                    making ,then contact us! We need many other resources who could help with our business like light boys ,
                    delivery boys, assistants .One form of art that is ageless is wedding photography so to make sure that you are eligible, 
                    please update your info with Wedding Photography Kerala.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8 mt-5 mb-5">
                
                <div class="box">
                    <h3 class="mt-2 mb-4"><strong>We are Hiring</strong></h3>
                    <div class="card card1 h-100  p-3 mb-5  rounded border-black">
                        <div class="card-body">
                            <form action="">
                                <div class="row mt-3">
                                    <div class="col-md">
                                        <label for="" class="mb-1">Name</label>
                                        <input type="text" class="form-control border-black"  aria-label="First name">
                                    </div>
                                    <div class="col-md">
                                        <label for="" class="mb-1">Phone</label>
                                        <input type="text" class="form-control border-black"  aria-label="phone">
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md">
                                        <label for="" class="mb-1">Email</label>
                                        <input type="email" class="form-control border-black"  aria-label="First name">
                                    </div>
                                    <div class="col-md">
                                        <label for="" class="mb-1">Place</label>
                                        <input type="text" class="form-control border-black"  aria-label="phone">
                                      
                                    </div>
                                </div>
                                <div class="row mt-3 mb-4">
                                    <div class="col-md">
                                        <label for="" class="mb-1">Age</label>
                                        <input type="number" class="form-control mb-2 border-black"  aria-label="First name">
                                    </div>
                                    <div class="col-md">
                                        <label for="" class="mb-1">Upload CV/Resume </label>
                                        <input type="file" class="form-control border-black"  aria-label="phone">
                                       
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md">
                                        <label for="" class="mb-1">Area of interest</label>
                                        <select name="" id="" class="form-select mb-2 border-black">
                                        <option value="" hidden>Select</option>
                                        <option value="">Photographer</option>
                                        <option value="">Videographer</option>
                                        <option value="">Video Editor</option>
                                        <option value="">Album Designer</option>
                                        <option value="">Social Media Manager</option>
                                       </select>
                                        
                                    </div>
                                    <div class="col-md">
                                        <label for="" class="mb-1">Experience</label> <br>
                                       
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input border-black" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                            <label class="form-check-label " for="inlineRadio1">Fresher</label>
                                          </div>
                                          <div class="form-check form-check-inline">
                                            <input class="form-check-input border-black" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                            <label class="form-check-label" for="inlineRadio2">Experienced</label>
                                        </div>
                                       
                                    </div>
                                </div>
                                
                                <div class="row mt-5">
                                    <div class="col">
                                        <input type="button" class="btn btn-outline-dark btn-sm w-25" value="Submit">
                                    </div>
                                </div>
                           </form>
                        
                        </div>
                    </div>
                </div>
               


            </div>
            <div class="col-md-2"></div>
        </div>

    </div>
</section>

<section id="footer">
    {% include 'footer.html' %}
  
</section>

<style>
    section#section1{
        
        background-color: rgb(240, 240, 240);
        
    }
    section#footer{
        background-color: #000000;
    }
</style>

<style>
    .card1 {
        background-color: rgb(245, 245, 245);
        color: rgb(0, 0, 0);
        transition: box-shadow 0.3s ease-in-out;
        
    }

    .card1:hover {
        transform: scale3d(1.02,1.02,1.02);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    
    }
</style>
{% endblock %}