{% load static %}


<nav class="navbar navbar-expand-lg transparent ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="{% static 'images/logo3.png' %}" alt="MagicFrame" class="img-fluid" style="height: 180px;" >
      
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel" style="font-family: 'Alumni Sans Inline One', cursive;">MagicFrame</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'services' %}">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'gallery' %}">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'joinus' %}">Join Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'signin' %}">Signin</a>
          </li>
          
          
        </ul>
        <form class="d-flex" role="search">
          
          <a href="{% url 'booking' %}"> <button class="btn btn-outline-dark btn-sm rounded mt-2" type="button">Request Services</button></a>
        </form>
      </div>
    </div>
  </div>
</nav>
